doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Work+Sans:400', rel='stylesheet')
		link(href='/styles.css', rel='stylesheet', type='text/css')
		title VC | Event Matcher
		script.
			document.addEventListener('DOMContentLoaded', function() {
				const checkbox = document.getElementById('checkbox');
				if (checkbox) {
					checkbox.addEventListener('change', function() {
						const baseUrl = '/eventMatcher';
						const url = checkbox.checked ? `${baseUrl}?orderby=skill` : baseUrl;
						window.location.href = url;
					});
				}
			});
	header
		div.navbar
			span Volunteer Central
			nav
				ul
					li
						a(href='/homepage.html') Home
					li
						a(href='/login') Log In
	body
		section
			div.eMatcher-table-container
				h2 Event Matcher
				div(style='display: flex; align-items: center; gap: 12px; flex-wrap: wrap;')
					input#event-search(type='search', placeholder='Search events here')
					button 🔍
					input#checkbox(type='checkbox', checked=(orderbySkill ? true : false), style='margin-left: 16px;')
					label.switch(for='checkbox', style='margin-bottom: 0; margin-left: 4px;',) Order by skill
				if orderbySkill
					p(style='color: #000000ff;')
						| Events are sorted by skills:
						| #{userSkill}
				else
					p(style='color: #000000ff;')
						| Events are not sorted by skills.
				table.eventTable
					thead
						tr
							th Event Name
							th Moderated by
							th Location
							th Skills
							th Description 
							th Priority
							th Date
							th Published
					tbody
						// events - All rows.
						// event  - One row.
						if events && events.length 
							each event in events 
								tr(onclick=`window.location='/eventDetails/${event.id}'`, style='cursor:pointer;')
									td= event.name 
									td= event.moderator 
									td= event.location
									td= event.skills
									td= event.description
									td= event.priority
									td= event.date
									td= event.published
						else 
							tr 
								td(colspan="8") No events found.
							tr
								td ...
								td ...
								td ...
								td ...
								td ...
								td ...
								td ...
								td ...
