doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Work+Sans:400', rel='stylesheet')
		link(href='/styles.css', rel='stylesheet', type='text/css')
		title VC | Event Creator
	header
		div.navbar
			span Volunteer Central
			nav
				ul
					li: a(href='../homepage.html') Home
					li: a(href='../login.html') Login
	body
		div.form-group-ET
			h3(style='margin-top: 40px') Event Details
			h1 #[strong #{event.name}]
			div
				p Level #[strong #{event.priority}] priority
				p At #[strong #{event.location}]
				p #{event.description || 'No description provided.'}
				p Date and Time: #[strong #{new Date(event.date).toLocaleString()}]
				p Created by: #{event.moderator}
			p Enrolling as #[strong #{user.username}] #[small #[i (ID: #{user.id})]]
		div.task-list(style='color: #333; width: 450px; height: 300px; justify-content: top; background-color: #9fbcc1ff;')
			h2 Tasks
			p Select a task to enroll.
			if task && task.length > 0
				ul
					// task - Array of tasks.
					// t - One task.
					each t in task
						li(style='list-style-type: none; padding: 0;')
							form(action='/enrollTask', method='POST', style='margin: 0;')
								input(type='hidden', name='taskId', value=t.id)
								button(type='submit', style='all: unset; cursor: pointer; display: block;')
									div.task-item(style='color: #333; background-color: #748D92; padding: 10px; margin-bottom: 10px; border-radius: 5px;')
										h1 #[strong #{t.name}]
										p Skills: #[strong #{t.skill}]
										p #{t.description || 'No description provided.'}

			else
				p No tasks available for this event.