doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Work+Sans:400', rel='stylesheet')
		link(href='/styles.css', rel='stylesheet', type='text/css')
		title VC | Task Creator
	body
		header
			div.navbar
				span Volunteer Central
				nav
					ul
						li: a(href='/homepage.html') Home
						li: a(href='/logout') Logout
		div.form-group
			h2 Task Creator for "#{eventName}"
			p Moderating as #[strong #{username}] #[small #[i (ID: #{u_id})]]
			p Location: #{location}
			p Description: #{description}
			p Priority: #{priority}
			p Event Date: #{date}

			hr

			// Add new task form
			form(action='/addTask', method='POST')
				input(type='hidden', name='eventId', value=eventId)
				div
					label(for='taskName') Task Name
					input#taskName(type='text', name='taskName', placeholder='New Task', required)
				div
					label(for='taskDescription') Task Description
					input#taskDescription(type='text', name='taskDescription', placeholder='Describe the task')
				div
					label(for='taskSkills') Required Skills (comma-separated)
					input#taskSkills(type='text', name='taskSkills', placeholder='e.g., First Aid, Heavy Lifting')
				div
					button(type='submit') Add Task
					button(type='button',onclick="window.location.href='/homepage.html") Complete and Exit 
			div(style='margin-top: 20px; background-color: #f0f0f0; color: #000000ff; padding: 10px; border-radius: 5px;')
				// Existing tasks
				if tasks.length
					h3 Existing Tasks
					ul
						each task in tasks
							li(style='list-style-type: none; padding: 0;')
								strong #{task.name}
								if task.description
									|  - #{task.description}
								if task.skill && task.skill.length
									br
									small Skills: #{task.skill.join(', ')}

								br
								// Delete button
								form(action='/deleteTask', method='POST', style='display:inline')
									input(type='hidden', name='taskId', value=task.id)
									input(type='hidden', name='eventId', value=eventId)
									button(type='submit', style='margin-left:10px;color:red; background-color: #9f9f9fff') Delete
				else
					p No tasks yet. Add one below!
