doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title User Profile Management
		link(href="https://fonts.googleapis.com/css?family=Work+Sans:400", rel="stylesheet")
		link(rel="stylesheet", href="styles.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script.
			$(function() {
				$('.dropdown-check-list').on('click', 'span.anchor', function(e) {
					e.stopPropagation();
					$(this).closest('.dropdown-check-list').toggleClass('visible');
				});
				$(document).click(function() {
					$('.dropdown-check-list').removeClass('visible');
				});
			});

	body
		header
			.navbar
				span User Profile Management
				nav
					ul
						li: a(href="/homepage.html") Home
						li: a(href="/logout") Logout

		.form-container
			form(method="POST", action="/complete-profile")
				.form-group(style="height: auto; width: auto; padding: 10px; position: relative; top: 100px;")
					h2(style="margin-bottom: 20px;") Complete Your Profile for #[strong #{email}]

					div
						label(for="firstname") First Name:
						input#firstname(
							type="text", 
							name="firstname", 
							maxlength="50", 
							value= firstname || '',
							required)

					div
						label(for="lastname") Last Name:
						input#lastname(
							type="text", 
							name="lastname", 
							maxlength="50", 
							value= lastname || '',
							required)
					
					div
						label(for="username") Username:
						input#username(
							type="text", 
							name="username", 
							maxlength="50", 
							value= username || '',
							required)

					div
						label(for="address") Address:
						input#address(
							type="text", 
							name="address", 
							maxlength="100", 
							value= address || '',
							required)

					div
						label(for="city") City:
						input#city(type="text", name="city", maxlength="100", value=city || '', required)

					div
						label(for="state") State:
						select#state(name="state", required)
							option(value="") Select a state
							option(value="AL" selected=(state === 'AL')) Alabama
							option(value="AK" selected=(state === 'AK')) Alaska
							option(value="AZ" selected=(state === 'AZ')) Arizona
							option(value="AR" selected=(state === 'AR')) Arkansas
							option(value="CA" selected=(state === 'CA')) California
							option(value="CO" selected=(state === 'CO')) Colorado
							option(value="CT" selected=(state === 'CT')) Connecticut
							option(value="DE" selected=(state === 'DE')) Delaware
							option(value="FL" selected=(state === 'FL')) Florida
							option(value="GA" selected=(state === 'GA')) Georgia
							option(value="HI" selected=(state === 'HI')) Hawaii
							option(value="ID" selected=(state === 'ID')) Idaho
							option(value="IL" selected=(state === 'IL')) Illinois
							option(value="IN" selected=(state === 'IN')) Indiana
							option(value="IA" selected=(state === 'IA')) Iowa
							option(value="KS" selected=(state === 'KS')) Kansas
							option(value="KY" selected=(state === 'KY')) Kentucky
							option(value="LA" selected=(state === 'LA')) Louisiana
							option(value="ME" selected=(state === 'ME')) Maine
							option(value="MD" selected=(state === 'MD')) Maryland
							option(value="MA" selected=(state === 'MA')) Massachusetts
							option(value="MI" selected=(state === 'MI')) Michigan
							option(value="MN" selected=(state === 'MN')) Minnesota
							option(value="MS" selected=(state === 'MS')) Mississippi
							option(value="MO" selected=(state === 'MO')) Missouri
							option(value="MT" selected=(state === 'MT')) Montana
							option(value="NE" selected=(state === 'NE')) Nebraska
							option(value="NV" selected=(state === 'NV')) Nevada
							option(value="NH" selected=(state === 'NH')) New Hampshire
							option(value="NJ" selected=(state === 'NJ')) New Jersey
							option(value="NM" selected=(state === 'NM')) New Mexico
							option(value="NY" selected=(state === 'NY')) New York
							option(value="NC" selected=(state === 'NC')) North Carolina
							option(value="ND" selected=(state === 'ND')) North Dakota
							option(value="OH" selected=(state === 'OH')) Ohio
							option(value="OK" selected=(state === 'OK')) Oklahoma
							option(value="OR" selected=(state === 'OR')) Oregon
							option(value="PA" selected=(state === 'PA')) Pennsylvania
							option(value="RI" selected=(state === 'RI')) Rhode Island
							option(value="SC" selected=(state === 'SC')) South Carolina
							option(value="SD" selected=(state === 'SD')) South Dakota
							option(value="TN" selected=(state === 'TN')) Tennessee
							option(value="TX" selected=(state === 'TX')) Texas
							option(value="UT" selected=(state === 'UT')) Utah
							option(value="VT" selected=(state === 'VT')) Vermont
							option(value="VA" selected=(state === 'VA')) Virginia
							option(value="WA" selected=(state === 'WA')) Washington
							option(value="WV" selected=(state === 'WV')) West Virginia
							option(value="WI" selected=(state === 'WI')) Wisconsin
							option(value="WY" selected=(state === 'WY')) Wyoming

					div
						label(for="zipcode") Zip Code:
						input#zipcode(
							type="text",
							name="zipcode",
							minlength="5", 
							maxlength="9", 
							value= zipcode || '',
							required)

					#skillsDropdown.dropdown-check-list(tabindex="100")
						span.anchor Select Your Skills 
							ul.items
								li 	
									input(type="checkbox" id="teaching" name="skills[]" value="teaching")
									label(for="teaching") First Aid
								li 	
									input(type="checkbox" id="coordination" name="skills[]" value="coordination")
									label(for="coordination") Coordination
								li 	
									input(type="checkbox" id="logistics" name="skills[]" value="logistics")
									label(for="logistics") Logistics
								li 	
									input(type="checkbox" id="scheduling" name="skills[]" value="scheduling")
									label(for="scheduling") Scheduling
								li 	
									input(type="checkbox" id="communication" name="skills[]" value="communication")
									label(for="communication") Communication
								li 	
									input(type="checkbox" id="event_planning" name="skills[]" value="event_planning")
									label(for="event_planning") Event Planning
								li 	
									input(type="checkbox" id="teamwork" name="skills[]" value="teamwork")
									label(for="teamwork") Teamwork
								li 	
									input(type="checkbox" id="tech_support" name="skills[]" value="tech_support")
									label(for="tech_support") Tech Support
								li 	
									input(type="checkbox" id="cleaning" name="skills[]" value="cleaning")
									label(for="cleaning") Cleaning
								li 	
									input(type="checkbox" id="driving" name="skills[]" value="driving")
									label(for="driving") Driving
								li 	
									input(type="checkbox" id="translation" name="skills[]" value="translation")
									label(for="translation") Translation

					div
						label(for="availability1") Availability Date 1:
						input#availability1(
							type="date", 
							name="availability[]", 
							value='', 
							required)
						label(for="availability2") Availability Date 2:
						input#availability2(
							type="date", 
							name="availability[]", 
							value='')

					div(style="margin-top: 20px; display: flex; gap: 20px;")
						button(type="submit") Submit
						button(type="reset") Clear Form
